.block-about {

}

.block-about-image-ferst {

}

.block-about-image-two {
    position: absolute;
    width:  535.49px;
    height: 361px;
    left: 820px;
    top: 245px
}


.block-text {
    margin-top: -325px;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    margin-left: 124px;

    color: #1E0606;
}

.CrimsonText {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}

.block-text-D{
    margin-left: 122px;
}

.block-link{
    margin-left: 122px;
}

.block-about-image-three {
    position: absolute;
    width: 1180px;
    height: 39px;
    left: 362px;
    top: 604px;
}

.block-about-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    top: 12px;
    color: #FFFFFF;
}

.block-title-text{
    margin-top: 12px;
}

