.block-contacts {

}

.Montserrat {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}

.block-contacts-image {

}

.block-contacts-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}