.awards {

}

.The-awards {

}

.block-awrds_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 -10px;
}

.block-awards_item {
    margin-top: 100px;
    padding: 0 10px;
}

.block-award-link {
    

}

.block-award-link:hover .block-award-image {
    opacity: 0.7;
}

.block-award-link:active .block-award-image {
    opacity: 0.5;
}

.block-award-image {
    transition: opacity 0.3s ease-in-out;
}

.apple{
    margin-top: -7px;
}

.eltex{
    margin-top: 6px;
}

.owox{
    margin-top: 12px;
}