.block-dising {

}

.Montserrat {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
}

.CrimsonText {
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
}

.block-life-image {

}

.block-dising-about-us {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}