.header {

}

.header-logo {

}


.header-logo:hover {
    opacity: 0.7;
}

.header-logo:active {
    opacity: 0.3;
}

.header-nav {

}

.menu {
    list-style-type: none;
}

.menu-item {

}

.menu-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    transition: color 0.3s ease-in-out;
    
}

.menu-link:hover {
    opacity: 0.7;
}

.menu-link:active {
    opacity: 0.3;
}

.menu-link-button {
    font-weight: bold; 
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    transition: color 0.3s ease-in-out;
}

.menu-link-button:hover {
    opacity:0.7;
}

.menu-link-button:active {
    opacity: 0.3;
}

.header-image {

}

.header-image:hover {
    opacity:0.7;
}

.header-image:active {
    opacity: 0.3;
}