.block-services{

}

.block-services-title{

}

.Vector-R{
    margin-left: 69px;
    width: 8px;
    height: 12px;
    left: 180px;
    top: 233px;
}

.block-home{
    margin-top: -26px;
    width: 18px;
    height: 25px;
    left: 110px;
    top: 226px;
}

.block-catalog{
    margin-left: 85px;
    margin-top: -51px;
    width: 56px;
    height: 25px;
    left: 200px;
    top: 226px;
}


.block-service-list{
    display: flex;
}


.block-service-image-1{
    margin-left: 20px;
}

.block-service-image-2{
    margin-left: 20px;
}

.block-service-image-3{
    margin-left: 20px;
}

.block-service-image-4{
    margin-left: -694px;
    margin-top: 286px;
}

.block-service-image-5{
    margin-left: -391px;
    margin-top: 286px;
    
}

.block-service-image-6{
    margin-left: -85px;
    margin-top: 286px;
}

.Montserrat {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
}

.block{
    margin-top: 217px;
}

.block-services-menu{
    display: flex;
}

.block-services-item:not(:first-child){
    margin-left: 20px;
}

.servics-button{
    margin-top: 12px;
}

.block-menu {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block-services-image{

}

.block-service-box{
    margin-left: -2px;
}


.block-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.block-service-box{

}

.block-strelka{
    margin-left: -73px;
    height: 30px;
    top: 24px;
}

.block-strelka:hover {
    opacity: 0.7;
}

.block-strelka:active {
    opacity: 0.3;
}


.block-strelka-right {
    margin-left: 22px;
    height: 30;
    top: 24px;
}

.block-strelka-right:hover {
    opacity: 0.7;
}

.block-strelka-right:active {
    opacity: 0.3;
}

.text-Modern{
    margin-left: 100px;
    margin-top: -44px;
}

.block-Products{
    margin-left: 213px;
}