.block-about {

}

.block-about-image {

}

.Montserrat {
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}

.Crimson text {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606; ;
}

.block-about-title-big {

}

.block-about-image-line {

}